.carousel .carousel-inner h1,
.prices h2,
.prices .content,
.our-team h2,
.our-skills h1,
footer .site-map li:hover,
.our-skills .progress-bar:after,
.our-skills .top-rated .para,
.stats{
    color: #f0f;
}
.tool-box .gear-check{
    background-color: #f0f;
}
.tool-box .color-options{
    border-color: #f0f;
}