body{
    height: 4000px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--automn-foliage);
    scroll-behavior: smooth;
}
body a i{
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 40px;
    color: var(--automn-foliage);
    z-index: 20;
}
/* main colors  */
:root{
    --mist:#90afc5;
    --stone:#336b87;
    --shadow:#2a3132;
    --automn-foliage:#763626;
}
/* start navbar */
.navbar{
    padding:0 ;
    min-height: 67px;
}
nav.bg-dark{
    background-color: var(--shadow) !important;
}
.navbar-dark .navbar-brand{
    font-family:'Dancing Script', "cursive";
    font-size: 35px;
    color: var(--mist);
    font-weight: bold;
}
nav .collapse > ul > li > a{
    color: var(--mist) !important;
    font-weight: bold;
    padding: 20px !important;
    font-size: 18px;
}
@media(max-width:992px){
    nav .collapse > ul > li > a{
    padding:5px !important;
    }
}
nav .collapse ul li a.active{
    background-color: var(--automn-foliage);
}
nav .dropdown-menu{
    background-color: var(--automn-foliage);
    margin-top: 0 !important;
    border-top: solid 2px var(--stone);
}
nav .dropdown-menu li a{
    padding: 4px 8px !important;
    color: var(--mist);
    font-size: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
nav .dropdown-menu li:hover a{
    padding-left: 15px !important;
    font-weight: bold;
    color: var(--shadow);
    background-color: var(--mist);
}
nav .dropdown-menu .dropdown-divider {
    background-color: var(--stone);
    height: 3px;
}
/* end navbar */
/* start carousel */
.carousel {
    top: 67px;
    margin-bottom: 150px;
}
.carousel .carousel-inner .carousel-item img{
    aspect-ratio:9 / 3.7;
    z-index: 1;
}
@media (max-width: 676px){
    .carousel-inner .carousel-item img{
        aspect-ratio:5 / 4.5 !important;
    }
}
.carousel .carousel-inner .carousel-item .overlay{
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
}
.carousel .carousel-inner .carousel-item .carousel-caption{
    z-index: 3;
}
@media (max-width: 575.98px){
    .carousel .carousel-inner .carousel-item .carousel-caption{
        bottom: 0px;
        font-size: 0.2rem;
    }
}
.carousel .carousel-inner .carousel-item .carousel-caption h5{
    margin-bottom: 2.5rem !important;
}
@media (max-width: 575.98px){
    .carousel .carousel-inner .carousel-item .carousel-caption h5{
        margin-bottom: 0.1rem !important;
        margin-left: 50%;
        font-size: 0.8rem;
        margin-top: 0.8rem;
    }
    .carousel .carousel-inner .carousel-item .carousel-caption p{
        margin-bottom: 0.1rem !important;
        line-height: 1.2;
    }
}
.carousel .carousel-inner h1{
    position: absolute;
    z-index: 3;
    color: #fff;
    top: 19%;
    left: 50%;
    transform: translatex(-50%);
}
@media (max-width: 880px){
    .carousel .carousel-inner h1{
        display: none;
    }
}
.carousel-indicators{
    z-index: 4;
}
@media (max-width: 575.98px){
    .carousel .carousel-indicators{
        display: none;
    }
}
.carousel-indicators img{
    width: 40px !important;
    height:40px !important;
    position: relative;
    bottom: 10%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.2 !important;
}
.carousel-indicators .active{
    transform: translateY(-10px) scale(1.1,1.1);
    -webkit-transform: translateY(-10px) scale(1.1,1.1);
    -moz-transform: translateY(-10px) scale(1.1,1.1);
    -ms-transform: translateY(-10px) scale(1.1,1.1);
    -o-transform: translateY(-10px) scale(1.1,1.1);
    opacity: 1 !important;
}
.carousel-control-next,.carousel-control-prev{
    z-index: 3;
}
/* end carousel */
/* start prices */
.prices{
    margin-bottom: 60px;
}
.prices h2{
    margin-bottom: 60px;
}
.prices .base .box{
    background-color: var(--mist);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                inset 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 30px 0;
}
.prices .content{
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--shadow);
    opacity: 0.7 ;
    margin: auto;
    padding: 40px 0;
    color: #fff;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}
.prices .content .bi-bookmark-check-fill,
.prices .content .bi-bookmark-x-fill{
    margin-right: 13px;
    font-weight: bold;
    font-size: 1.8rem;
}
.prices .content .bi-bookmark-check-fill{
    color: green;
}
.prices .content .bi-bookmark-x-fill{
    color: red;
}
.prices .box:hover .content{
    position: relative;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
}
.prices .bi-bootstrap{
    color: var(--mist);
}
.prices .bi-currency-exchange{
    color: rgb(133, 97, 97);
}
.prices .bi-check-circle-fill{
    color: gold;
}
.prices .bi-command{
    color: blueviolet;
}
.prices .content i{
    font-size: 30px;
    margin-bottom: 30px ;
    font-weight: bold;
    transform-origin: center;
}
.prices .box:hover .content i:not(.bi-bookmark-x-fill,.bi-bookmark-check-fill){
    animation: spin infinite 0.5s;
    -webkit-animation: spin  0.5s;
}
@keyframes spin{
    0%{
        transform: rotateZ(0);
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
}
    100%{
        transform: rotateZ(720deg);
        -webkit-transform: rotateZ(720deg);
        -moz-transform: rotateZ(720deg);
        -ms-transform: rotateZ(720deg);
        -o-transform: rotateZ(720deg);
}
}
.prices .content h3{
    padding-bottom: 30px;
}
.prices .content h5{
    border-bottom: solid 3px var(--automn-foliage);
    margin-bottom: 20px;
}
/* end prices */
/* start team */
.our-team h2{
    margin-bottom: 60px;
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.team .cell{
    clip-path: polygon(50% 0, 100% 33%, 100% 66%, 50% 100%, 0 66%, 0 33%);
    overflow: hidden;
    position: relative;
    flex-basis: 30.333%;
    margin:-2% 1%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
@media (max-width:767px){
    .team .cell{
        flex-basis: 250px;
        margin: 0;
    }
}
.team .cell:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    z-index: 4;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.team img{
    width: 100%;
}
.cell .caption{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    z-index: 5;
    opacity: 0;
}
.our-team .team .cell:hover:before{
    background-color: rgba(255, 255, 255, 0.4);
}
.our-team .team .cell:hover .caption{
    opacity: 1;
}
.our-team .team .cell:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
/* end team */
/* start stats */
.stats{
    margin-top: 120px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: url(../imgs/glaxy\ bgd.jpg) fixed no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    z-index: 1;
}
.stats:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}
.stats .container{
    z-index: 3;
    position: relative;
}
.stats h1{
    margin-bottom: 40px;
}
.stats .row .stat .box{
    background-color: var(--shadow);
    margin-bottom: 20px;
    position: relative;
    padding: 60px 20px;
}
.stats .row .stat .box i{
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.stats .row .stat .box h3{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    -webkit-transform: translate(-50%,-70%);
    -moz-transform: translate(-50%,-70%);
    -ms-transform: translate(-50%,-70%);
    -o-transform: translate(-50%,-70%);
    opacity: 0;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.stats .row .stat .box:hover h3{
    opacity: 1;
}
.stats .row .stat .box:hover i{
    position: relative;
    transform: translateY(40px) scale(0.8);
    -webkit-transform: translateY(40px) scale(0.8);
    -moz-transform: translateY(40px) scale(0.8);
    -ms-transform: translateY(40px) scale(0.8);
    -o-transform: translateY(40px) scale(0.8);
}
/* end stats */
/* start skills */
.our-skills{
    margin-top: 60px;
    /* background-image: url(../imgs/pexels-harrison-candlin-2441454.jpg); */
    background-size: cover;
    position: relative;
}
/* .our-skills:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
} */
.our-skills .container{
    position: relative;
    z-index: 3;
}
.our-skills h1{
    margin-bottom: 60px;
    padding-top: 50px;
    position: relative;
    z-index: 3;
    color: #fff;
}
.our-skills .skills .skill{
    height: 100%;
}
.our-skills .skills .skill .progress{
    margin-bottom: 11.5%;
    height: 10%;
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.our-skills .progress{
    overflow: unset !important;
}
.our-skills .progress-bar{
    position: relative;
    overflow: unset !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.our-skills .progress-bar:after{
    content: attr(percent);
    position: absolute;
    left: 100%;
    bottom: 120%;
    width: 60px;
    padding: 2px;
    height: 20px;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    line-height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.our-skills .top-rated .person{
    margin-bottom: 15px;
}
.our-skills .top-rated .para{
    color: #fff;
}
.our-skills .top-rated img{
    max-width: 30%;
    box-shadow: 20px 0px 10px rgba(0, 0, 0, 0.2);
}
/* end skills */

/* start contact-us */
.contact-us{
    background-image: url(../imgs/contact-us.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.contact-us:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}
.contact-us .container{
    position: relative;
    z-index: 3;
}
.contact-us .container h1{
    color: white;
}
.contact-us .message{
    height: 56%;
}
.contact-us input,
.contact-us textarea{
    box-shadow: 20px 0 30px rgba(255, 255, 255, 0.3);
}
.contact-us .message textarea{
    height: 100%;
}
.contact-us button{
    width: 100%;
}
/* end contact-us */